<header>
    <div class="header-container-menu">
        <div class="logo-image"></div>
        <nav class="menu-navbar">
            <ul class="menu-list">
                <li><a href="#home">Home</a></li>
                <li><a href="#resources">Recursos</a></li>
                <li><a href="#prices">Benefícios</a></li>
                <li><a href="#prices">Preços</a></li>
                <li class="login"><a href="">Entrar</a></li>
            </ul>
        </nav>
         <!-- Mobile -->
        <i class="bi bi-list" (click)="onShowHide()"></i>
    </div>
   <div class="container-menu-list-mobile" [class.show]="showHide">
        <ul class="menu-list-mobile">
            <a href="#home"><li>Home</li></a>
            <a href="#resources"><li>Recursos</li></a>
            <a href="#prices"><li>Benefícios</li></a>
            <a href="#prices"><li>Preços</li></a>
            <a href=""><li class="login">Entrar</li></a>
        </ul>
   </div>

</header>