<div class="main-container-content" id="prices">
    <div class="container-first-content-price">
        <div class="first-image-content-price"></div>
        <p class="title-content-price">Facil de usar</p>
        <p class="content-price">O Finans vai além do básico  e permite que você faça controles incríveis essencias para a sua finanças.Simples como tem que ser!</p>
    </div>

    <div class="container-first-content-price">
        <div class="second-image-content-price"></div>
        <p class="title-content-price">Economize seu tempo</p>
        <p class="content-price">Tempo é dinheiro! Em segundos, você tem tudo sob controle e aproveite seu tempo com o que realmente importa para você!</p>
    </div>

     <div class="container-first-content-price">
        <div class="third-image-content-price"></div>
        <p class="title-content-price">Suporte amigo</p>
        <p class="content-price">Dúvidas? Perguntas? Nosso suporte super legal ajuda você! A gente tá aqui pra resolver seus problemas e deixar sua vida bem mais fácil!</p>
    </div>
</div>