/* First Content Resource */
.conatiner-content-resources {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 8em;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #8b8b8b88;
}

.class-information-content {
    width: 45%;
}


.title-content {
    font-size: 1.8em;
    font-weight: bold;
}

.content {
    font-size: .75em;
}

.btn-primary {
    border-radius: .3em;
    font-size: .75em;
}

.image-container {
    background-image: url('/assets/img/second.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 400px;
    height: 400px;  
 
}

.image-container-second {
    background-image: url('/assets/img/third.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 400px;
    height: 400px; 
 
}

/* Mobile */
@media screen and (max-width:746px)
{
    .conatiner-content-resources {
        position: absolute;
        top: 444px;
        left: 0px;
        width: 100%;
        display: flex;
        
    }

    .class-information-content {
        width: 100%;
        text-align: center;
    }

    
}