<div class="conatiner-content-resources">
    <div class="class-information-content">
        <p class="title-content">Saiba para onde vai o seu dinheiro</p>
        <p class="content">Com o Finans, você categoriza todos os seus lançamentos. Com gráficos simples, você sabe de onde vem e para onde vai o seu dinheiro.</p>
        <button class="btn btn-primary">Veja mais</button>
    </div>
    
    <div class="image-container"></div>
    <div class="image-container"></div>
    <div class="class-information-content">
        <p class="title-content">Saiba para onde vai o seu dinheiro</p>
        <p class="content">Com o Finans, você categoriza todos os seus lançamentos. Com gráficos simples, você sabe de onde vem e para onde vai o seu dinheiro.</p>
        <button class="btn btn-primary">Veja mais</button>
    </div>
    
    

</div>