<div class="container-home-content"  id="home" >
    <div class="section-information col-md-4">
        <p class="main-title">
            Suas contas, descomplicadas
        </p>
        <p class="content-information">Usado por mais de 1 milhão de pessoas, o Finans é uma ferramenta online que vai facilitar a sua vida financeira.</p>
        <form class="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Seu e-mail">
                <input class="btn btn-primary" value="Cadastre-se"/>
            </div>
        </form>
        <p class="social-media">Disponível para<span class="spans"><i class="bi bi-android2"></i></span><span class="spans"><i class="bi bi-apple"></i></span></p>
    </div>
    <div class="container-image-first-content" class="col-md-8">
        <div class="container-image"></div>
    </div>
</div>
